
.titleLogo { 
  display: flex;
  
}
.weatherLogo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 1s;
  overflow: hidden;
}
.weatherLogo:hover {
  filter: drop-shadow(0 0 2em #ffd901aa);
  transition: filter 1s;
}

.vite {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}


.vite:hover {
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #646cff);
}

.react:hover {
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #61dafb);
}


.inputForm{
  margin-top: 50px;
}

.inputContainer {
  display: flex;
  justify-content: center;
}


input {
  width: 200px;
  border-style: none;
  background-color: inherit;
  border-bottom: 1px solid;
  transition: border-bottom-color 0.3s ease, width 0.3s ease;
  font-size: large;
}

input:focus {
  border-bottom-color: #535bf2;
  outline: none;
  width: 220px;

}

input:hover {
  border-bottom-color: #535bf2;
  outline: none;
  width: 220px;

}

.card {
  padding: 2em;
}


.fetchBtn{
  margin-top: 15px;
}

.fetchBtnlight {
  background-color: #0088b3;
  transition: background-color 1.5s;

}

.fetchBtnlight:hover {
  border-color: white

}

.fetchBtndark {
  background-color: #000000aa;
  transition: background-color 1.5s;

}

.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center;
}


.currentWeather {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.weatherForecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.foreCastTextContainer {
  display: flex;
  flex-direction: row;
  place-items: center;
  margin-bottom: 50px;
}

.forecastLocation {
  margin-left: 3px;
}

.daysdark{
  border-style: none;
  background-color: #292530;
  border-bottom: 1px solid;
  transition: border-bottom-color 0.3s ease, width 0.3s ease, background-color 1.5s;
  font-size: large;
  color: aliceblue;
}


.daysdark:hover {
  border-bottom-color: #535bf2;
  outline: none;
}

.dayslight{
  border-style: none;
  background-color: #00a4e4;
  border-bottom: 1px solid;
  transition: border-bottom-color 0.3s ease, width 0.3s ease, background-color 1.5s;
  font-size: large;
  color: aliceblue;
}


.dayslight:hover {
  border-bottom-color: #ffffff;
  outline: none;
}
